<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles  -->
  <link rel="stylesheet" href="../public/styles/style.css ">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Alternative Energies</title>
    <link rel="icon" href="../public/images/logo-img.png">
</head>
<body>
  <!-- N A V B A R -->
  <nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#">
      <img src="../public/images/logo-img.png" width="30" class="d-inline-block align-top" height="30" alt="logo">
      Alternative Energies
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#the-potential">The Potential</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#the-solution">The Solution</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Header -->
  <div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
    <div class="container transbox">
      <h1 class="text-center jumbo-text">Ammonia: the energy of tomorrow</h1>
      <h3 class="text-center jumbo-sub-text">  We are committed to a sustainable future.</h3>
      <button class="btn">Learn More</button>
    </div>
  </div>
  <!-- Card Group -->
  <div class="card-group justify-content-md-around">
    <div class="card group-card">
      <div class="card-body">
        <h3 class="card-title text-center">Carbon-Free System</h3>
        <p class="card-text">A clean-burning fuel: a significant advantage over coal and oil. </p>
      </div>
    </div>
    <div class="card group-card">
      
      <div class="card-body">
        <h3 class="card-title text-center">Powerful</h3>
        <p class="card-text"> It can be used to power a wide variety of devices, which produce fewer emissions.</p>
      </div>
    </div>
    <div class="card group-card">
      
      <div class="card-body">
        <h3 class="card-title text-center">Portable</h3>
        <p class="card-text">It can be easily stored and transported, which reduces the cost, and space requirements.</p>
      </div>
    </div>
  </div>
  <!-- Sub section 1 -->
  <div class="container sub-section sub-1 d-flex flex-column justify-content-center align-items-center" id="the-potential">
    <h2 class="text-center p-2 sub-section-title"> The potential to be a major energy resource </h2>
    <h4 class="text-center p-2"> Ammonia can be used as fuel for internal combustion engines, gas turbines, power cars, and generate electricity.</h4>
  </div>
  <!-- Mini section 1 -->
  <div class="container mini-section">
    <div class="row">
      <div class="col info-col d-flex flex-column justify-content-center">
        <h2> <span>Ammonia:</span>  The Clean Energy <br> That Drives Innovation</h2>
        <h5>Ammonia is a versatile and environmentally friendly energy source. It can be produced from renewable resources such as biomass.
          This process involves breaking down organic matter such as wood or agricultural waste into hydrogen and carbon monoxide. </h5>
      </div>
      <div class="col image-col-1"></div>
    </div>
  </div>
   <!-- Sub section 2 -->
   <div class="container sub-section sub-2 d-flex flex-column justify-content-center align-items-center" id="the-solution">
    <h2 class="text-center p-2 sub-section-title"> A solution to a worldwide problem </h2>
    <h4 class="text-center p-2"> The planet's average surface temperature has risen about 2 degrees Fahrenheit (1 degrees Celsius) since the late 19th century, a change driven largely by increased carbon dioxide emissions.</h4>
  </div>
  <!-- Mini section 2 -->
  <div class="container mini-section">
    <div class="row">
      <div class="col image-col-2"></div>
      <div class="col info-col d-flex flex-column justify-content-center">
        <h2> <span>Ammonia:</span>  The Power to Change <br> a Dark Future</h2>
        <h5>Ammonia has several advantages as an energy source. It is inexpensive to produce, clean, renewable, and its combustion releases a 
          relatively small amount of carbon dioxide. In addition, ammonia can be used in fuel cells to generate electricity with high efficiency.
          </h5>
      </div>
    </div>
  </div>
  <!-- News Section -->
  <div class="card text-center news-card" id="news">
    <div class="card-header">
      More About Ammonia
    </div>
    <div class="card-body d-flex flex-column justify-content-center">
      <h4 class="card-title">Science Magazine Article</h4>
      <h5 class="">"Ammonia—a renewable fuel made from sun, air, and water—could power the globe without carbon"</h5>
      <a href="https://www.science.org/content/article/ammonia-renewable-fuel-made-sun-air-and-water-could-power-globe-without-carbon" class="btn btn-news">Go to article</a>
    </div>
  </div>

  <div class="card text-center news-card">
    <div class="card-header">
      The Future of Ammonia
    </div>
    <div class="card-body d-flex flex-column justify-content-center">
      <h4 class="card-title">Chemichal and Engineering News</h4>
      <h5 class="">"Is ammonia the fuel of the future?
        Industry sees the agricultural chemical as a convenient means to transport hydrogen"</h5>
      <a href="https://cen.acs.org/business/petrochemicals/ammonia-fuel-future/99/i8" class="btn btn-news">Go to article</a>
    </div>
  </div>

  <div class="card text-center news-card">
    <div class="card-header">
      Energy Transition
    </div>
    <div class="card-body d-flex flex-column justify-content-center">
      <h4 class="card-title">International Renewable Energy Agency</h4>
      <h5 class="">"The Role of Renewable Ammonia in the Energy Transition"</h5>
      <a href="https://www.irena.org/events/2022/May/The-role-of-Renewable-Ammonia-in-the-Energy-Transition" class="btn btn-news">Go to article</a>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="../public/images/logo.png" alt="">
        <p class="copyright">© Alternative Energies 2019</p>
      </div>
    </div>
  </footer>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html> 